[submodule "cxxopts"]
	path = cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "bitstream"]
	path = bitstream
	url = git@github.com:Lw-Cui/bitstream.git
[submodule "PriorityQueue"]
	path = PriorityQueue
	url = git@github.com:Lw-Cui/PriorityQueue.git
