[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "bitstream"]
	path = bitstream
	url = https://github.com/Lw-Cui/bitstream.git
[submodule "PriorityQueue"]
	path = PriorityQueue
	url = https://github.com/Lw-Cui/PriorityQueue.git
